
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height:60px;background-color:#fff;
  -webkit-box-shadow:0 -1px 2px rgba(0,0,0,.1);
  -moz-box-shadow:0 -1px 2px rgba(0,0,0,.1);
  box-shadow:0 -1px 2px rgba(0,0,0,.1)
}
  .container .credit{margin:20px 0
}
  
#footer>.container{
  padding-left:15px;
  padding-right:15px
  
  }

  .user{
    color: #FB503B !important;
    font-weight: bold;
  }

hr.style {
  margin: 7px; 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

a:visited{
  text-decoration: none;
  color: black;
}
.post_link:hover {
  color: #FB503B;
  text-decoration: none;
 }
.post_link{
  color: #000;
  text-decoration: none;
}
.badge-success {
  background-color: #0f9bf8 !important;
}

.badge-category {
  background-color: #FB503B !important;
}

.bottom {
  bottom: 70;
}